@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.animate-pop {
    animation: pop 0.3s ease-in-out;
}

h1,
h2,
h3 {
    font-family: Poppins;
}

body {
    font-family: Inter;

}


body:-webkit-scrollbar {
    height: 4px;
    width: 16px;
    scrollbar-width: thin;
    scrollbar-color: #343839 #e8ecef;
}

/* Add this to your CSS file */
.custom-scrollbar::-webkit-scrollbar {
    height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #e8ecef;
    border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #343839;
    border-radius: 2px;
}

.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #343839 #e8ecef;
}


/* Add this to your CSS file */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}